<div class="experience-card mb-2" data-id="<%= experience.id %>">
      <%= image_tag experience.photo, alt: "alttext" %>
      <p class="d-flex justify-content-between mt-1">
        <button type="button" data-toggle="modal" data-target=<%= "#experience#{experience.id}" %>>
          <%= experience.title %>
        </button>
        <i class="fas fa-heart">
          <% if experience.vote > 0 %>(
          <%= experience.vote %>)
          <% end %>
        </i>
      </p>
    </div>
