<h3 class="text-center py-2"> <%= @board.title %></h3>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div>
      <% @day_schedules.uniq.each do |day_schedule| %>
      <% if session[:date_item] %>
        <% date = session[:date_item] == day_schedule.date.strftime("%Y-%m-%d")  %>
      <% else %>
        <% date = @day_schedules.uniq[0] == day_schedule %>
      <% end %>
      <div class="carousel-item <%= date ? 'active' : nil %>">
     <!--  <h3 class="text-center"> <%= @board.title %></h3> -->
      <h5 class="text-center "><%= day_schedule.date.strftime("%A, %d %b %Y ") %></h5>
      <p><%= day_schedule.notes %></p>
      <div class="col-xs-12 d-flex flex-column justify-content-center align-items-center">
      <% day_schedule.experiences.each do |experience| %>
          <!-- Experience Cards -->
        <div class="experience-card mb-2 w-75" data-id="<%= experience.id %>">
          <%= image_tag experience.photo, alt: "alttext" %>
          <p class="d-flex justify-content-between mt-1">
            <button type="button" data-toggle="modal" data-target=<%= "#experience#{experience.id}" %>>
              <%= experience.title %>
            </button>
            <i class="fas fa-heart">
            <% if experience.vote > 0 %>
              (<%= experience.vote %>)
            <% end %>
            </i>
          </p>
        </div>
        <%= link_to board_day_schedules_path(@board), method: :delete do %>
        <i class="fas fa-minus-circle"></i>
        <% end %>
      <% end %>
      </div>
      <p class="text-center pt-3"><%= link_to "back to board", board_path(params[:board_id]) %></p>
      </div>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% if @board.day_schedule_ids == [] %>
<p>You have not created any itineries yet! Go back to your board to add experiences to a day schedule.</p>
<p class="text-center pt-3"><%= link_to "back to board", board_path(params[:board_id]) %></p>
<% end %>


