<div class="card-category top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  <div class="banner-text"><%= @board.title %> Itinerary</div>
</div>
<div class="white vh-100">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div>
      <% @day_schedules.uniq.each do |day_schedule| %>
      <% if session[:date_item] %>
        <% date = session[:date_item] == day_schedule.date.strftime("%Y-%m-%d")  %>
      <% else %>
        <% date = @day_schedules.uniq[0] == day_schedule %>
      <% end %>
      <div class="carousel-item <%= date ? 'active' : nil %>">
     <!--  <h3 class="text-center"> <%= @board.title %></h3> -->
      <h3 class="text-center py-3"><%= day_schedule.date.strftime("%A, %d %b %Y ") %></h3>
      <!-- notes section -->

      <% if day_schedule.notes %>
        <div class="d-flex justify-content-center">
          <div class="notes text-center mb-4">
            <h6>Day Notes:</h6>
            <%= day_schedule.notes %>
            <i class="far fa-edit edit-note-icon" type="button" data-toggle="modal" data-target="#edit-note<%= day_schedule.id %>"></i>
          </div>
          <div class="modal fade" id="edit-note<%= day_schedule.id %>" tabindex="-1" role="dialog">
             <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
             <div class="modal-header turquoise  d-flex flex-column align-items-center justify-content-center">
                  <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
                  <h5 class="modal-title" id="add-experience-title">Update Day Note</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <%= simple_form_for day_schedule do |f| %>
                    <%= f.input :notes %>
                    <%= f.submit class: "btn btn-ghost" %>
                  <% end %>
                </div>
                </div>
             </div>
          </div>
        </div>
      <% else %>
        <div class="new-note text-center mb-5">
          <p type="button" class="" data-toggle="modal" data-target="#add-note<%= day_schedule.id %>">
            Add Day Note <i class="far fa-sticky-note"></i>
          </p>
        </div>

        <!-- Modal add -note -->
        <div class="modal fade" id="add-note<%= day_schedule.id %>" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header turquoise  d-flex flex-column align-items-center justify-content-center">
                <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
                <h5 class="modal-title" id="add-experience-title">Add Day Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                <%= simple_form_for day_schedule do |f| %>
                  <%= f.input :notes %>
                  <%= f.submit class: "btn btn-ghost" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>


<!--       modal pop-up edit note -->


<!-- end of modal edit note pop up -->





      <!-- notes end -->
      <div class="col-xs-12 d-flex flex-column justify-content-center align-items-center">
      <% day_schedule.day_schedule_items.each do |day_schedule_item| %>
          <!-- Experience Cards -->
        <div class="day-schedule-item-card experience-card mb-2 shadow p-3 mb-5 bg-white" data-id="<%= day_schedule_item.experience.id %>">
          <%= image_tag day_schedule_item.experience.photo, alt: "alttext" %>
          <p class="d-flex justify-content-between mt-1">
            <button type="button" data-toggle="modal" data-target=<%= "#experience#{day_schedule_item.experience.id}" %>>
              <%= day_schedule_item.experience.title %>
            </button>
            <div class="day-schedule-item-delete">
              <%= link_to day_schedule_item_path(day_schedule_item), method: :delete do %>
                <i class="fas fa-times"></i>
              <% end %>
            </div>
          </p>
        </div>
      <% end %>
      </div>
      <div class="d-flex justify-content-center align-items-center mb-5">
      <%= link_to "back to board", board_path(params[:board_id]), class: "btn btn-ghost" %>
      </div>
      </div>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% if @board.day_schedule_ids == [] %>
<div class="full-screen-with-banner p-3 text-center">
<p>You have not created any itineries yet! Go back to your board to add experiences to a day schedule.</p>
<p class="text-center btn btn-ghost-small"><%= link_to "back to board", board_path(params[:board_id]) %></p>
<% end %>
</div>
</div>
