<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  <%= @board.title %>
</div>
<div style="background: white">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div>
      <% @day_schedules.uniq.each do |day_schedule| %>
      <% if session[:date_item] %>
        <% date = session[:date_item] == day_schedule.date.strftime("%Y-%m-%d")  %>
      <% else %>
        <% date = @day_schedules.uniq[0] == day_schedule %>
      <% end %>
      <div class="carousel-item <%= date ? 'active' : nil %>">
     <!--  <h3 class="text-center"> <%= @board.title %></h3> -->
      <h5 class="text-center py-3"><%= day_schedule.date.strftime("%A, %d %b %Y ") %></h5>
      <div class="col-xs-12 d-flex flex-column justify-content-center align-items-center">
      <% day_schedule.day_schedule_items.each do |day_schedule_item| %>
          <!-- Experience Cards -->
        <div class="experience-card mb-2 w-75 shadow p-3 mb-5 bg-white" data-id="<%= day_schedule_item.experience.id %>">
          <%= image_tag day_schedule_item.experience.photo, alt: "alttext" %>
          <p class="d-flex justify-content-between mt-1">
            <button type="button" data-toggle="modal" data-target=<%= "#experience#{day_schedule_item.experience.id}" %>>
              <%= day_schedule_item.experience.title %>
            </button>
          </p>
        </div>
        <%= link_to day_schedule_item_path(day_schedule_item), method: :delete do %>
        <i class="fas fa-minus-circle"></i>
        <% end %>
      <% end %>
      </div>
        <p><%= day_schedule.notes %></p>
        <%= simple_form_for day_schedule do |f| %>
          <%= f.input :notes %>
          <%= f.submit %>
        <% end %>
      <p class="text-center pt-3"><%= link_to "back to board", board_path(params[:board_id]) %></p>
      </div>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% if @board.day_schedule_ids == [] %>
<p>You have not created any itineries yet! Go back to your board to add experiences to a day schedule.</p>
<p class="text-center pt-3"><%= link_to "back to board", board_path(params[:board_id]) %></p>
<% end %>
</div>

