<h1>Experiences#create</h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @experience.title %></h5>
    <p class="card-text">We have found <%= @count %> results matching your request.</p>
    <% @list.each do |each|  %>
    <p><%= each["name"] %></p>
    <%= each["formatted_address"] %>
    <% end %>
    <%= image_tag @photo, alt: "alttext", style: "width: 500px;" %>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

