<h3>Experiences of Category: <%= @category_name %> on <%= @board.title %>
</h3>
  <% @experiences.each do |experience| %>
  <!-- Experience Cards -->

    <div class="experience-card mb-2" data-id="<%= experience.id %>">
      <% if experience.photo %>
      <%= image_tag experience.photo, alt: "alttext" %>
      <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext" %>
      <% experience.photo = "https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" %>
      <% experience.save %>
      <% end %>
 <!--      <div class="d-flex justify-content-between"> -->
        <div class="d-flex justify-content-between mt-1">
          <button style="font-size: 12px" type="button" id="<%= "button#{experience.id}" %>" data-toggle="modal" data-target=<%= "#experience#{experience.id}" %>>
            <%= experience.title %>
          </button>
        <!--   <div class="d-flex align-items-center" style="font-size: 12px"> -->
            <p data-id="<%= experience.id %>" class="d-flex align-items-center m-0" style="font-size: 12px">
              <%= experience.votes_for.count %>
              <%= link_to experience_upvote_path(experience),class:"fas fa-heart heart-like ml-1",method: :post, remote: true, style:"display: block" do %>
              <% end %>
            </p>
       <!--    </div> -->
        </div>
<!--       </div> -->

    </div>
<% end %>
<%= render 'shared/board-footer' %>
