<div class="lol-container turquoise">
  <h2 class="text-center py-2">
    <%= @experience.title %>
  </h2>
  <p class="text-center">We have found these options for you.</p>
  <div class="card-container">
      <div class="card-columns">
        <% 3.times do  %>
      <% @list.each_with_index do |each, i|  %>
      <div class="experience-card mb-2">
        <% if @photos[i] %>
        <%= image_tag @photos[i], alt: "alttext" %>
        <% else %>
        <%= image_tag "https://www.battlegroundindy.com/wp-content/uploads/2019/01/no-image-770x466.jpg", alt: "alttext" %>
        <% end %>
        <div>
          <div>
            <div class="text-center m-0" style="font-size: 12px, font-weight: bolder;"><%= each["name"] %></div>
          </div>
          <div class="d-flex justify-content-between", style="font-size: 12px;">
            <div class="text-center"><%= each["vicinity"] %></div>
          </div>
<!--           <p>Price Level:
            <%#= each["price_level"] %>
          </p> -->
          <div class="w-100 d-flex justify-content-center mt-1">
          <%= link_to "Create", "#", class: "btn btn-ghost-small mt-1",
           data: {
            toggle: "modal",
            target: "#confirm-experience"
            }
           %>
         </div>
        </div>
      </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="confirm-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 40rem;">
                <%# @photos.each do |pic| %>
                <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                <%# end %>
                <div class="card-body">
                  <%= simple_form_for [@board, @experience] do |f| %>
                  <% modelo = details_api(each["place_id"]) %>
                  <h5 class="card-title">
                    <%= f.input :title, label: "So we're going to:" %>
                  </h5>
                  <p class="card-text">
                    <%= f.input :description, label: "Tell your friends!:" %>
                    <%= f.association :category %>
                    <%= f.input :address, input_html: {value: modelo[:address]}, readonly: true %>
                    <%= f.input :phone_number, input_html: {value: modelo[:phone_number]}, readonly: true %>
                    <%= f.input :rating, input_html: {value: "☆" * modelo[:rating].to_i}, readonly: true %>
                  </p>
                  <p>Reviews:
                     <%= f.input :google_url,input_html: { value: modelo[:google_url]}, readonly: true %>
                    <% price =  modelo[:price_level] ? "$" * modelo[:price_level].to_i : "n/a"  %>
                    <%= f.input :price_level, input_html: {value: price}, readonly: true %>
                  </p>
                    <%= f.input :website, input_html: {value: modelo[:website]}, readonly: true %>
                  <%= f.input :latitude, as: :hidden, input_html: {value: modelo[:latitude]} %>
                  <%= f.input :longitude, as: :hidden, input_html: {value: modelo[:latitude]} %>

                   <%= f.button :submit, "Confirm", class: "btn btn-ghost" %>
                      <% end %>
                  <%#= button_to "Confirm", board_experiences_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal shit -->
      <!-- End of loop -->
      <% end %>
      <% end %>
      <div class="experience-card mb-2">
        <%= image_tag "https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", alt: "alttext", style: "background: $peach" %>
        <div>
          <p class="text-center m-0" style="font-size: 12px">None of these?</p>
          <p class="text-center m-0" style="font-size: 12px">Click below to make your own</p>
          <div class="w-100 d-flex justify-content-center">
          <%= link_to "Create", "#", class: "btn btn-ghost-small mt-1 text-center",
          data: {
            toggle: "modal",
            target: "#create-experience"
            } %>
          </div>
        </div>
      </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="create-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-huge modal-dialog-centered" style="max-width: 1600px; width: 1600px" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="card" style="width: 50%;">
                  <%# @photos.each do |pic| %>
                  <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                  <%# end %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= simple_form_for [@board, @experience] do |f| %>
                      <%= f.input :title, placeholder: @experience.title %>
                      <%= f.input :description, placeholder: @experience.description  %>
                      <%= f.input :opening_hours, placeholder: "9 to 22" %>
                      <%= f.input :latitude, as: :hidden, input_html: {id: 'formLat'}%>
                      <%= f.input :longitude, as: :hidden, input_html: {id: 'formLng'} %>
                      <%= f.label "location" %>
                      <input type="text" class="form-control" id="exp-location">
                      <%= f.input :price_level, label: "price", hint: "1 to 4" %>
                      <%= f.association :category %>
                      <%= f.input :photo %>
                      <%= f.button :submit %>
                      <% end %>
                  </div>
                </div>
                <div id="small-map" style="width: 50%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal shit -->
    </div>
  </div>
  <!-- map shit -->
  <div id="map" style="height: 70vh; width: 100%; overflow: hidden;" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>" data-places="<%= @places.to_json %>">
  </div>
  <script>

  </script>
  <!-- end of map shit -->
</div>
<%= content_for :map_js do  %>
<%= javascript_pack_tag 'initMap2' %>
<% end %>
