<div class="lol-container turquoise">
  <div class="card-category top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
    <div class="banner-text"><%= @experience.title %><br>
    </div>

  </div>
  <div class="card-container">

  <div id="map" style="height: 30vh; width: 100%; overflow: hidden;" data-bounds="<%= @map_bounds.to_json %>" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>" data-places="<%= @places.to_json %>" data-pin-drop-marker="<%= asset_path 'pin-drop-marker.svg' %>" data-green-marker="<%= asset_path 'triangle2.svg' %>">
  </div>
  <div class="d-flex align-items-center justify-content-center turquoise" style="height: 70px;">
    <h6 class="text-center" style=" font-family: 'open sans'; font-weight: bolder; color: white; font-size: 18px;">We have found these options for you.</h6>
  </div>

    <div class="card-columns">

      <% @list.each_with_index do |each, i|  %>
      <div class="experience-card mb-2">
        <% if @photos[i] %>
        <%= image_tag @photos[i], alt: "alttext" %>
        <% else %>
        <%= image_tag "https://www.battlegroundindy.com/wp-content/uploads/2019/01/no-image-770x466.jpg", alt: "alttext" %>
        <% end %>
        <div>
          <div>
            <div class="text-center m-0" style="font-size: 14px">
              <%= each["name"] %>
            </div>
          </div>
          <div class="" , style="font-size: 12px; font-weight: lighter;">
            <div class="text-center">
              <%= each["vicinity"] %>
            </div>
          </div>
          <!--           <p>Price Level:
            <%#= each["price_level"] %>
          </p> -->
          <div class="w-100 d-flex justify-content-center mt-1">
            <a href="#" data-toggle="modal" data-target="#confirm-experience" ><i class="fas fa-plus add-experience"></i></a>
            <%#= link_to "create", "#", class: "btn btn-ghost-small mt-1",
           data: {
            toggle: "modal",
            target: "#confirm-experience"
            } %>
          </div>
        </div>
      </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="confirm-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content text-center">
            <div class="modal-header turquoise d-flex justify-content-center align-items-center flex-column">
              <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
             <!--  <div class="card vw-100" > -->
                <%# @photos.each do |pic| %>
                <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                <%# end %>
             <!--    <div class="card-body"> -->
                  <%= simple_form_for [@board, @experience] do |f| %>
                  <% modelo = details_api(each["place_id"]) %>
                  <h5 class="card-title">
                    <%= f.input :title, label: "So we're going to:" %>
                  </h5>
                  <div class="card-text">
                    <%= f.input :description, label: "Tell your friends!:" %>
                    <%= f.association :category %>
                    <%= f.input :address, input_html: {value: modelo[:address]}, readonly: true %>
                    <%= f.input :phone_number, input_html: {value: modelo[:phone_number]}, readonly: true %>
                    <% exp_rating = modelo[:rating] ? "☆" * modelo[:rating].to_i : "n/a" %>
                    <%= f.input :rating, as: :hidden, input_html: {value: modelo[:rating]}, readonly: true %>
                    <%= f.label :rating %>
                    <input type="text" readonly="readonly" class="form-control readonly" id="exp-rating" value="<%= exp_rating %>">
                    <% price =  modelo[:price_level] ? "$" * modelo[:price_level].to_i : "n/a"  %>
                    <%= f.input :price_level, as: :hidden, input_html: {value: modelo[:price_level]}, readonly: true %>
                    <%= f.label :price_level %>
                    <input type="text" readonly="readonly" class="form-control readonly" id="exp-price-level" value="<%= price %>">
                    <%= f.input :google_url, as: :hidden, input_html: { value: modelo[:google_url]}, readonly: true %>
                    <%= link_to "reviews", modelo[:google_url] %>
                    <i class="fas fa-external-link-alt"></i>
                    <%= f.input :website, as: :hidden, input_html: {value: modelo[:website]}, readonly: true %>
                    <%= link_to "website", modelo[:website] %>
                    <i class="fas fa-external-link-alt"></i>
                    <%= f.input :latitude, as: :hidden, input_html: {value: modelo[:latitude]} %>
                    <%= f.input :longitude, as: :hidden, input_html: {value: modelo[:longitude]} %>
                    <% exp_pic = modelo[:photos] ? modelo[:photos].sample : "https://www.battlegroundindy.com/wp-content/uploads/2019/01/no-image-770x466.jpg"  %>
                    <%= f.input :photo, as: :hidden, input_html:{value: exp_pic} %>
                    <%= f.button :submit, "Confirm", class: "btn btn-ghost" %>
                    <% end %>
                  </div>
                    <%#= button_to "Confirm", board_experiences_path %>
           <!--      </div> -->
          <!--     </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal shit -->
      <!-- End of loop -->
      <% end %>

      <div class="experience-card mb-2">
        <%= image_tag "https://images.unsplash.com/photo-1531171596281-8b5d26917d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80", alt: "alttext", style: "background: $peach" %>
        <div>
          <p class="text-center m-0" style="font-size: 12px">None of these?</p>
          <p class="text-center m-0" style="font-size: 12px">Click below to make your own</p>
          <div class="w-100 d-flex justify-content-center">
            <a href="#" data-toggle="modal" data-target="#create-experience"><i class="fas fa-plus add-experience"></i></a>
            <%#= link_to "Create", "#", class: "btn btn-ghost-small mt-1 text-center",
          data: {
            toggle: "modal",
            target: "#create-experience"
            } %>
          </div>
        </div>
      </div>
       </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="create-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-huge modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center flex-column turquoise">
              <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form" style="width: 100%;">
                  <%# @photos.each do |pic| %>
                  <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                  <%# end %>
                    <div class="p-3 text-center">
                      <%= simple_form_for [@board, @experience] do |f| %>
                      <%= f.input :title, placeholder: @experience.title %>
                      <%= f.input :description, placeholder: @experience.description  %>
                      <%= f.input :opening_hours, placeholder: "9 to 22" %>
                      <%= f.input :latitude, as: :hidden, input_html: {id: 'formLat'}%>
                      <%= f.input :longitude, as: :hidden, input_html: {id: 'formLng'} %>
                      <%= f.label "location" %>
                      <input type="text" class="form-control mb-3" id="exp-location" placeholder="Pin the map below">
                    </div>
                      <div id="small-map" style="height: 300px;">
                      </div>
                    <div class="p-3 text-center">
                      <%= f.input :price_level, label: "price", hint: "1 to 4", class: "mt-3" %>
                      <%= f.association :category %>
                      <%= f.input :photo %>
                      <%= f.button :submit, class: "btn btn-ghost" %>
                      <% end %>
                    </div>
                  <!-- end of form--></div>

                <!-- end of map -->
              </div>
              <!-- end of row -->
              </div>
              <!-- end of modal-bodyß -->
            </div>
            <!-- end of modal-content -->
          </div>
          <!-- end of modal-dialog -->
        </div>
        <!-- end of modal period -->

    </div>
  </div>
</div>
  <!-- map shit -->
<!--   <div id="map" style="height: 30vh; width: 100%; overflow: hidden;" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>" data-places="<%= @places.to_json %>">
  </div> -->

  <!-- end of map shit -->

<%= content_for :map_js do  %>
<%= javascript_pack_tag 'initMap2' %>
<% end %>
