<div class="lol-container">
  <h1>
    <%= @experience.title %>
  </h1>
  <p>We have found these options for you.</p>
  <div class="card-container">
    <div class="row">
      <% @list.each_with_index do |each, i|  %>
      <div class="card experience-card" style="width: 16.6%;">
        <% if @photos[i] %>
        <%= image_tag @photos[i], alt: "alttext", size: "400x200" %>
        <% else %>
        <h2> No pic</h2>
        <% end %>
        <div class="card-body">
          <p>Name:
            <%= each["name"] %>
          </p>
          <h5 class="card-title">
          </h5>
          <p class="card-text"></p>
          <p>Address:</p>
          <%= each["vicinity"] %>
          <p>Price Level:
            <%= each["price_level"] %>
          </p>
          <%= link_to "Create", "#", class: "btn-warning",
           data: {
            toggle: "modal",
            target: "#confirm-experience"
            }
           %>
        </div>
      </div>
        <!-- modal -->
  <div class="modal fade" id="confirm-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% modelo = details_api(each["place_id"]) %>
          <%=  %>
          <div class="card" style="width: 40rem;">
            <%# @photos.each do |pic| %>
            <%#= image_tag pic, alt: "alttext", size: "400x200"%>
            <%# end %>
            <div class="card-body">
              <h5 class="card-title">
                So we're going to:
                <%= @experience.title %>
              </h5>
              <p class="card-text">
                Tell your friends!: "
                <%= @experience.description %>"
              </p>
              <p> Address:
                <%= modelo[:address]  %>
              </p>
              <p> Phone:
                <%= modelo[:phone_number] %>
              </p>
              <p> Rating:
                <%= modelo[:rating]  %>
              </p>
              <p> Reviews:
                <%=  modelo[:google_url]  %>
              </p>
              <p> Price level:
                <%=  modelo[:price_level]  %>
              </p>
              <p>
                <%= link_to "Website", @experience.website  %>
              </p>
              <%= button_to "Confirm", board_experiences_path ,
              params: { experience: modelo} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal shit -->
  <!-- End of loop -->
      <% end %>
      <div class="card experience-card" style="width: 16%;">
        <h1> ¿?</h1>
        <div class="card-body">
          <p>None of these?
          </p>
          <h5 class="card-title">
          </h5>
          <p class="card-text"></p>
          <p>Click below to make your own</p>
          <%= button_to "Create", board_experiences_path, class: "btn-danger",
          params: {
                    board: @experience.board_id,
                    title: @experience.title,
                    description: @experience.description
                    }  %>
        </div>
      </div>
    </div>
  </div>

  <!-- map shit -->
  <div id="map" style="height: 70vh; width: 100%; overflow: hidden;" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>">
  </div>
  <script>
    var map;

    function initMap() {
      const experiences = document.querySelectorAll('.experience-card')
      const mapElement = document.getElementById('map')
      const centerCoords = JSON.parse(mapElement.dataset.center)
      const markers = JSON.parse(mapElement.dataset.markers)
      let mapCenter = new google.maps.LatLng(centerCoords[0], centerCoords[1]);
      map = new google.maps.Map(
        document.getElementById('map'), {
          center: mapCenter,
          zoom: 10
        });
      markers.forEach(function(pin, i) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(pin[0], pin[1]),
          map: map,
          icon: "/assets/_triangle-marker.svg",
          draggable: true
        });
        marker.addListener('mouseover', (event) => {
          experiences[i].classList.add('selected')
        });
        marker.addListener('mouseout', (event) => {
          experiences[i].classList.remove('selected')
        });
        marker.addListener('click', (event) => {
          console.log(i);
          console.log(experiences[i])
          console.log(experiences)
        });
      });
    }
    </script>
  <!-- end of map shit -->
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=initMap">
</script>
