<div class="lol-container">
  <h1>
    <%= @experience.title %>
  </h1>
  <p>We have found these options for you.</p>
  <div class="card-container">
    <div class="row">
      <% @list.each_with_index do |each, i|  %>
      <div class="card experience-card" style="width: 16.6%;">
        <% if @photos[i] %>
        <%= image_tag @photos[i], alt: "alttext", size: "400x200" %>
        <% else %>
        <h2> No pic</h2>
        <% end %>
        <div class="card-body">
          <p>Name:
            <%= each["name"] %>
          </p>
          <h5 class="card-title">
          </h5>
          <p class="card-text"></p>
          <p>Address:</p>
          <%= each["vicinity"] %>
          <p>Price Level:
            <%= each["price_level"] %>
          </p>
          <%= link_to "Create", "#", class: "btn-warning",
           data: {
            toggle: "modal",
            target: "#confirm-experience"
            }
           %>
        </div>
      </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="confirm-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 40rem;">
                <%# @photos.each do |pic| %>
                <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                <%# end %>
                <div class="card-body">
                  <%= simple_form_for [@board, @experience] do |f| %>
                  <% modelo = details_api(each["place_id"]) %>
                  <h5 class="card-title">
                    <%= f.input :title, label: "So we're going to:" %>
                  </h5>
                  <p class="card-text">
                    <%= f.input :description, label: "Tell your friends!:" %>
                    <%= f.association :category %>
                    <%= f.input :address, input_html: {value: modelo[:address]}, readonly: true %>
                    <%= f.input :phone_number, input_html: {value: modelo[:phone_number]}, readonly: true %>
                    <%= f.input :rating, input_html: {value: "☆" * modelo[:rating].to_i}, readonly: true %>
                  </p>
                  <p>Reviews:
                     <%= f.input :google_url,input_html: { value: modelo[:google_url]}, readonly: true %>
                    <% price =  modelo[:price_level] ? "$" * modelo[:price_level].to_i : "n/a"  %>
                    <%= f.input :price_level, input_html: {value: price}, readonly: true %>
                  </p>
                    <%= f.input :website, input_html: {value: modelo[:website]}, readonly: true %>
                  <%= f.input :latitude, as: :hidden, input_html: {value: modelo[:latitude]} %>
                  <%= f.input :longitude, as: :hidden, input_html: {value: modelo[:latitude]} %>

                   <%= f.button :submit, "Confirm", class: "btn-danger" %>
                      <% end %>
                  <%#= button_to "Confirm", board_experiences_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal shit -->
      <!-- End of loop -->
      <% end %>
      <div class="card experience-card" style="width: 16%;">
        <h1> ¿?</h1>
        <div class="card-body">
          <p>None of these?
          </p>
          <h5 class="card-title">
          </h5>
          <p class="card-text"></p>
          <p>Click below to make your own</p>
          <%= link_to "Create", "#", class: "btn-danger",
          data: {
            toggle: "modal",
            target: "#create-experience"
            } %>
        </div>
      </div>
      <!-- Confirm modal -->
      <div class="modal fade" id="create-experience" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-huge modal-dialog-centered" style="max-width: 1600px; width: 1600px" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Please Confirm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="card" style="width: 50%;">
                  <%# @photos.each do |pic| %>
                  <%#= image_tag pic, alt: "alttext", size: "400x200"%>
                  <%# end %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= simple_form_for [@board, @experience] do |f| %>
                      <%= f.input :title, placeholder: @experience.title %>
                      <%= f.input :description, placeholder: @experience.description  %>
                      <%= f.input :opening_hours, placeholder: "9 to 22" %>
                      <%= f.input :latitude, as: :hidden, input_html: {id: 'formLat'}%>
                      <%= f.input :longitude, as: :hidden, input_html: {id: 'formLng'} %>
                      <%= f.label "location" %>
                      <input type="text" class="form-control" id="exp-location">
                      <%= f.input :price_level, label: "price", hint: "1 to 4" %>
                      <%= f.association :category %>
                      <%= f.input :photo %>
                      <%= f.button :submit %>
                      <% end %>
                  </div>
                </div>
                <div id="small-map" style="width: 50%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of modal shit -->
    </div>
  </div>
  <!-- map shit -->
  <div id="map" style="height: 70vh; width: 100%; overflow: hidden;" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>" data-places="<%= @places.to_json %>">
  </div>
  <script>

  </script>
  <!-- end of map shit -->
</div>
<%= content_for :map_js do  %>
<%= javascript_pack_tag 'initMap2' %>
<% end %>
