
<div class="peach vh-100">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  Where are you going?
</div>

<!-- <div>
  <div class="search">
    <input type="text" class="searchTerm" placeholder="City name">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div> -->
<!--     <div class="search-form d-block">
      <form action="/boards" method="post" >
        <input class="form-control string required" type="text" name="query" id="place" placeholder="city" />
        <button name="button" type="submit" class="btn btn-flat"><i class="fas fa-search"></i></button>
      </form>
    </div>
 -->
<!-- <div class="botton">
  <a class="btn btn-gradient" href="#">Create New Board</a>
</div>
</div> -->


<div class="p-3 new-board-form text-center">
  <div class="p-3 mt-5" style="background: white">
  <%= simple_form_for @board do |f| %>
      <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
    <%= f.input :place, label: "Destination" %>
      <%= image_tag "_triangle-marker.svg", alt: "alttext" %>
    <%= f.input :title, label: "Name your Board" %>
    <%= f.submit "Create Board", class: "btn btn-ghost" %>
  <% end %>
  </div>
</div>
</div>
