<!-- <div class="container"> -->
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
  <%= @board.title %>
</div>
<div class="d-flex px-3 py-3 align-items-center" style="background: white">
  <%= link_to board_board_users_path(@board) do  %>
  <% @board_users.each do |user| %>
  <%= cl_image_tag user.avatar, class: "avatar" %>
  <!--        <img class="avatar" alt="avatar" src=<%=user.avatar %> /> -->
  <% end %>
  <% end %>
  <%= link_to connections_path(board_id: @board.id) do %>
  <i class="fas fa-plus-circle avatar"></i>
  <% end %>
</div>
<!--   <div class="turquoise p-3"> -->
<div class="text-center p-3" style="background: white">
  <% if @board.description %>
  <h6>
    <%= @board.description %>
  </h6>
  <% end %>
</div>
<!--   </div> -->
<div style="background: white">
  <!-- <div class="white p-3"> -->
  <div class="d-flex justify-content-center" style="background: white">
    <div class="p-3" style="width: 50vw">
      <!--       <h6 class="text-center">Currency</h6> -->
      <div class="d-flex justify-content-around align-items-center flex-column p-2">
        <h6>1 GBP</h6>
        <h6> = </h6>
        <h6>
          <%= @conversion["GBP_#{@currency_code}"].to_f.round(2) %>
          <%=" #{@currency_code}"%>
        </h6>
      </div>
    </div>
    <div class="p-3" style="width: 50vw">
      <!--  <h6 class="text-center">Weather</h6> -->
      <div class="weather-icon d-flex justify-content-around align-items-center p-2">
        <%= image_tag "http://openweathermap.org/img/wn/#{@data['weather'][0]['icon']}@2x.png", alt: "weather icon" %>
        <div>
          <h5>
            <%= (@data['main']['temp'].to_f - 273.15).round(0)%> °C
          </h5>
          <%= @data['weather'][0]['main'] %>
        </div>
      </div>
    </div>
  </div>
  <!--   </div> -->
</div>
<div class="p-3 py-4 peach">
  <div id="map" style="height: 70vh; width: 100%; overflow: hidden;" data-center="<%= @coords.to_json %>" data-markers="<%= @markers.to_json %>">
  </div>
</div>
<!-- </div> -->
<!-- Summary of board location -->
<!-- end of board summary -->
<!-- start of iteration for experience cards and modal pop-ups -->
<div class="card-columns">
  <% @experiences.each do |experience| %>
  <!-- Experience Cards -->

    <div class="experience-card mb-2" data-id="<%= experience.id %>">
      <% if experience.photo %>
      <%= image_tag experience.photo, alt: "alttext" %>
      <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60", alt: "alttext" %>
      <% experience.photo = "https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" %>
      <% experience.save %>
      <% end %>
        <div class="d-flex justify-content-between">
      <p class="d-flex justify-content-between mt-1">
        <button type="button" data-toggle="modal" data-target=<%= "#experience#{experience.id}" %>>
          <%= experience.title %>
        </button>
              </p>

        <div class="d-flex">  <p data-id="<%= experience.id %>"><%= experience.votes_for.count %></p>
        <%= link_to experience_upvote_path(experience),class:"fas fa-heart heart-like",method: :post, remote: true, style:"display: block" do %>
         <% end %>
       </div>
       </div>


    </div>
  <!-- experience card end -->
  <!-- modal experience card pop-up -->
  <div class="modal fade" id="experience<%= experience.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=<%=experience.photo %> >
            <div class="card-body">
              <h5 class="card-title">
                <%= experience.title %>
              </h5>
              <p class="card-text">
                <%= experience.description %>
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   end of modal pop-up -->
  <% end %>
</div>
<!-- end of experience cards and modal pop-up iteration  -->
</div>
<div class="modal fade" id="add-experience-form" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-experience-title">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@board, @experience], method: :get, url: new_board_experience_path(@board) do |f| %>
        <%= f.input :title, label: "What are we doing?" %>
        <%= f.input :description, label: "Convince your friends!" %>
        <%= f.association :category %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/board-footer' %>

<%= content_for :map_js do  %>
<%= javascript_pack_tag 'initMap' %>
<% end %>
