<div class="container">
  <h1>
    <%= @board.title %>
  </h1>
  <div class="user-avatars d-flex">
    <%= link_to board_board_users_path(@board) do  %>
    <% @board_users.each do |user| %>
    <img class="avatar" alt="avatar" src=<%=user.avatar %> />
    <% end %>
    <% end %>
    <%= link_to connections_path do %>
    <i class="fas fa-plus-circle avatar"></i>
    <% end %>
  </div>
  <!-- Map Button -->
  <div id="control-div" class="control-div" data-toggle="modal" data-target="#add-experience-form">
    <div id="control-ui" class="control-ui" title="Add an Experience">
      <div id="control-text" class="control-text">
        +
      </div>
    </div>
  </div>
  <!-- End of Map Button-->
  <div id="map" style="height: 70vh; width: 100%; overflow: hidden;">
    <script>
    var map;
    function initMap() {
      let mapCenter = new google.maps.LatLng(<%= @map_center[0] %>, <%= @map_center[1] %>);
      map = new google.maps.Map(
        document.getElementById('map'), {
          center: mapCenter,
          zoom: 12
        });
      const experiences = document.querySelectorAll('.experience-card')
      <% @markers.each_with_index do |coords, index| %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= coords[0]%>, <%= coords[1] %>),
        map: map,
      });
        marker.addListener('mouseover', (event) => {
        experiences[<%= index %>].classList.add('selected')
      });
        marker.addListener('mouseout', (event) => {
        experiences[<%= index %>].classList.remove('selected')
      });
        marker.addListener('click', (event) => {
        console.log(event);
      });
      <% end %>
      var controlDiv = document.querySelector('.control-div');
      controlDiv.index = 1;
      map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(controlDiv);
    }
    </script>
  </div>
</div>
<div class="row justify-content-center">
  <% @experiences.each do |experience| %>
  <div class="col-xs-6 m-0">
    <div class="experience-card">
      <%= image_tag experience.photo, alt: "alttext" %>
      <p class="d-flex justify-content-between">
        <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
          <%= experience.title %>
        </button>
        <i class="fas fa-heart">
          <% if experience.vote > 0 %>(
          <%= experience.vote %>)
          <% end %></i>
      </p>
    </div>
  </div>
  <% end %>
</div>
</div>
<div class="modal fade" id="add-experience-form" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-experience-title">Add Experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@board, @experience] do |f| %>
        <%= f.input :title, label: "What are we doing?" %>
        <%= f.input :description, label: "Convince your friends!" %>
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=initMap">
</script>
