<!-- <div class="users_list"> -->
  <div class="vh-100" style="background: white">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
    <div class="banner-text"><%= @board.title %> Users List</div>
  </div>
  <!-- <ul class="list-unstyled"> -->
  <div class="search d-none">
    <input type="text" class="searchTerm" placeholder="Friend's name">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
    <div class="p-3" style="background: #96d1c7">
    <% @board_users.each do |board_user| %>
   <!--  <li> -->
      <% if board_user.user == current_user %>

      <div class="card user mb-1 p-2">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <%= cl_image_tag board_user.user.avatar, class: "avatar", alt: "avatar" %>
            <%= board_user.user.name %>
          </div>
          <div>
            <%= link_to "(leave board)", board_user_path(board_user), method: :delete %>
            <a href="#" id="current-user-icon">
              <i class="fas fa-user ml-1"></i>
            </a>
          </div>
        </div>
      </div>

      <% else %>

      <div class="card user mb-1 p-2">
        <div class="d-flex justify-content-between">
          <div>
            <%= cl_image_tag board_user.user.avatar, class: "avatar", alt: "avatar" %>
            <%= board_user.user.name %>
          </div>
          <%= link_to board_user_path(board_user), method: :delete do  %>
            <i class="fas fa-user-minus"></i>
          <% end %>
        </div>
      </div>

      <% end %>

 <!--    </li> -->
    <% end %>
    </div>
 <!--  </ul> -->
  <div class="d-flex justify-content-center">
    <p class="text-center mt-3 btn btn-ghost-small"><%= link_to "back to board", board_path(params[:board_id]) %></p>
  </div>
  </div>
<!-- </div> -->



