<div class="users_list">
  <h3 class="text-center mt-2">Board Users List</h3>
  <!-- <ul class="list-unstyled"> -->
      <div class="search">
    <input type="text" class="searchTerm" placeholder="Friend's name">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
    <% @board_users.each do |board_user| %>
   <!--  <li> -->
    <div class="card p-2">
      <% if board_user.user == current_user %>
        <div class="d-flex justify-content-between">
          <div>
            <%= image_tag board_user.user.avatar, class: "avatar", alt: "avatar" %>
            <%= board_user.user.name %>
          </div>
          <a href="#" id="current-user-icon">
            <i class="fas fa-user"></i>
          </a>
        </div>
      <% else %>
        <div class="d-flex justify-content-between">
          <div>
            <%= image_tag board_user.user.avatar, class: "avatar", alt: "avatar" %>
            <p><%= board_user.user.name %></p>
          </div>
          <%= link_to board_user_path(board_user), method: :delete do  %>
            <i class="fas fa-user-minus"></i>
          <% end %>
        </div>
      <% end %>
    </div>
 <!--    </li> -->
    <% end %>
 <!--  </ul> -->
  <p class="text-center pt-3"><%= link_to "back to board", board_path(params[:board_id]) %></p>
  <p class="text-center pt-1"><%= link_to "(leave board)", user_boards_path(current_user) %></p>
</div>
